.DS_Store

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

/.next/
.vercel/
.next/cache/
.turbo/
.parcel-cache/

/front-end/.env.local
/front-end/.env.development.local
/front-end/.env.test.local
/front-end/.env.production.local

__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg-info/
pip-wheel-metadata/

venv/
env/
.venv/
env.bak/
venv.bak/

.pytest_cache/

/back-end/.env
.env
.env.*

.vscode/
.idea/

back-end/scrummy-be0d6-firebase-adminsdk-fbsvc-9b33421a7f.json
back-end/sendgrid.env