[run]
source = .
relative_files = True
omit =
    */tests/*
    */.venv/*
    */node_modules/*
    */__pycache__/*

[xml]
output = coverage.xml

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
